body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    box-shadow: 5px 10px 6px 6px blue ;
    
}
 
.q {
 box-shadow: 2px 5px 10px 5px red;   
} 

.q{

}

.q{

}
 
 .q{
     
 }

 .q{

 }
